body {
  background-color: #2b2d42;
  margin: 0;
  font-family: "Mukta";
}

header {
  background-color: #edf2f4;
}

h1 {
  color: #d90429;
  margin: 0;
  padding: 1rem 0 3rem 1rem;
  font-size: 2rem;
  font-family: "Saira Condensed";
}

header p {
  text-align: right;
  margin-top: 0;
  padding: 0 1rem 0.5rem 0;
}

h2 {
  color: #ef233c;
  text-align: center;
  border-top: 2px dotted black;
  border-bottom: 2px dotted black;
  margin-top: 2rem;
  margin-bottom: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: "Saira Condensed";
}

form {
  display: grid;
  margin: auto;
  background-color: #edf2f4;
  padding: 1rem;
  margin: 1rem;
}

label {
  margin-bottom: 0.5rem;
}

input {
  display: block;
  margin-bottom: 1rem;
}

textarea {
  resize: vertical;
  max-width: 100%;
}

fieldset {
  margin-bottom: 1rem;
}

select {
  margin-bottom: 1rem;
}

input:hover {
  border: 2px solid #ef233c;
}

fieldset input {
  display: inline;
}

#search,
#clear {
  padding: 0.3rem;
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  width: 100%;
}

#search {
  background-color: #2b2d42;
  color: white;
}

#search:hover {
  background-color: #edf2f4;
  color: black;
  border: 1px solid #8d99ae;
  box-shadow: none;
}

#search:active {
  background-color: #8d99ae;
  color: black;
  border: 2px solid #ef233c;
  box-shadow: none;
}

#clear:hover {
  background-color: #d90429;
  color: white;
  border: 1px solid #8d99ae;
}

#clear:active {
  background-color: white;
  color: #ef233c;
  border: 2px solid #ef233c;
}

Input:focus,
select:focus,
textarea:focus {
  border-color: mediumvioletred;
  outline: mediumvioletred 3px solid;
}

@media screen and (min-width: 900px) {
  main {
    max-width: 900px;
    margin: auto;
  }

  form {
    grid-template-columns: 1fr 2fr;
  }

  h1,
  header p {
    text-align: center;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    grid-column: 1/3;
  }

  header p {
    padding-bottom: 2rem;
  }

  input,
  fieldset,
  textarea {
    grid-column: 2/3;
  }

  label {
    grid-column: 1/2;
    text-align: right;
    padding-right: 1rem;
  }

  textarea {
    margin-bottom: 1rem;
  }

  div.buttons {
    grid-column: 1/3;
    margin: auto;
    width: 100%;
    text-align: center;
  }

  #search,
  #clear {
    width: 40%;
    display: inline;
    margin: 0.5rem;
  }
}
